body {
  background-color: #df8888;
  font-family: "Lexend Deca", sans-serif;
  color: #2e475d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.excited-llama {
  width: 200px;
}
